<a href="https://colab.research.google.com/github/Meguazy/project_CSD/blob/main/notebook_exploration_cleaning/prova.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!git clone https://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@github.com/Meguazy/project_CSD.git

Cloning into 'project_CSD'...
remote: Enumerating objects: 309, done.
remote: Counting objects: 100% (197/197), done.
remote: Compressing objects: 100% (163/163), done.
remote: Total 309 (delta 31), reused 182 (delta 25), pack-reused 112
Receiving objects: 100% (309/309), 10.07 MiB | 10.94 MiB/s, done.
Resolving deltas: 100% (32/32), done.

In [ ]:
%cd project_CSD/

[Errno 2] No such file or directory: 'project_CSD/'
/content/project_CSD

In [ ]:
#Usare ogni volta che si inizia a lavorare per accertarsi che non ci siano
#cambiamenti non sincronizzati

!git pull

remote: Enumerating objects: 7, done.
remote: Counting objects: 100% (7/7), done.
remote: Compressing objects: 100% (4/4), done.
remote: Total 4 (delta 1), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (4/4), 54.66 KiB | 559.00 KiB/s, done.
From https://github.com/Meguazy/project_CSD
   5efc2a0..8fdc2fd  main       -> origin/main
Updating 5efc2a0..8fdc2fd
Fast-forward
 notebook_exploration_cleaning/prova.ipynb | 7661 ++++++++++++++++++++++++++++++++++++++++++++++++-
 1 file changed, 7622 insertions(+), 39 deletions(-)

In [ ]:
from google.colab import auth
auth.authenticate_user()

import requests
gcloud_token = !gcloud auth print-access-token
gcloud_tokeninfo = requests.get('https://www.googleapis.com/oauth2/v3/tokeninfo?access_token=' + gcloud_token[0]).json()
EMAIL = str(gcloud_tokeninfo['email'])

!echo $EMAIL

#Usare per fare commit atomici e frequenti.
#Ricordiamoci di usare mettere sempre dei messaggi di commit chiari in modo da
#poter rollbackare o cherry-pickare in caso di bisogno.

!git config --global user.email $EMAIL

!git add .
!git commit -m "Added first pre-processing logic"
!git push

finucci.francesco98@gmail.com
On branch main
Your branch is up to date with 'origin/main'.

nothing to commit, working tree clean
Everything up-to-date

In [ ]:
import os

os.listdir('data/raw_data/DatasetRuoteCaso1')

In [218]:
import pandas as pd

raw_dataframe_1 = pd.read_excel("data/raw_data/DatasetRuoteCaso1/TrainoCaso1_1.xlsx",nrows=6,header = None)

T_table = raw_dataframe_1.T #Transpose the dataframe in order to have rows as columns

new_header = T_table.iloc[0] #grab the first row for the header
T_table = T_table[1:] #take the data less the header row
T_table.columns = new_header #set the header row as the df header

anagrafica_df = T_table.set_index('Acquisition Number') #Set the new index

#Replacing the column "Material" that contains a string like "d:n|r:m", with n
#being the diameter of the iron bar and m being the type of iron (0 for nervato and 1 for non nervato).
#Here we put 'n' into the "Material" column and 'm' into the "Diameter" column.
diameter, material = str(anagrafica_df['Material'].values[0]).split('|')
anagrafica_df['Material_type'] = material.split(':')[1]
anagrafica_df['Diameter'] = diameter.split(':')[1]
anagrafica_df.drop(["Material"], axis=1, inplace=True)

#Printing
anagrafica_df.style

In [ ]:
import matplotlib.pyplot as plt

raw_dataframe_2 = pd.read_excel("data/raw_data/DatasetRuoteCaso1/TrainoCaso1_1.xlsx",skiprows=6)

new_header = raw_dataframe_2.iloc[0] #grab the first row for the header
raw_dataframe_2 = raw_dataframe_2[1:] #take the data less the header row
raw_dataframe_2.columns = new_header #set the header row as the df header

time_series_df = raw_dataframe_2.set_index('Time')
time_series_df['Acquisition Number'] = 1

#Printing
time_series_df.style

raw_dataframe_3 = pd.read_excel("data/raw_data/DatasetRuoteCaso1/TrainoCaso1_2.xlsx",skiprows=6)

new_header_2 = raw_dataframe_3.iloc[0] #grab the first row for the header
raw_dataframe_3 = raw_dataframe_3[1:] #take the data less the header row
raw_dataframe_3.columns = new_header_2 #set the header row as the df header

time_series_df_2 = raw_dataframe_3.set_index('Time')
time_series_df_2['Acquisition Number'] = 2

#Printing
time_series_df_2.style

new_df = pd.concat([time_series_df, time_series_df_2], axis=0)
aa = new_df.loc[new_df['Acquisition Number'] == 1]

new_df.style

In [ ]:
from mpl_toolkits.mplot3d import Axes3D
from matplotlib import cm
from matplotlib import cm
from matplotlib.ticker import LinearLocator, FormatStrFormatter
from mpl_toolkits.mplot3d import Axes3D
aa['Axe1X'] = aa['Axe1X'].astype("float")
aa['Axe1Y'] = aa['Axe1Y'].astype("float")
aa['Axe1Z'] = aa['Axe1Z'].astype("float")
# Ready to plot
fig = plt.figure()
ax = fig.add_subplot(projection='3d')

ax.scatter(aa.Axe1X, aa.Axe1Y, aa.Axe1Z, c='y', marker='o')

ax.set_xlabel('X Label')
ax.set_ylabel('Y Label')
ax.set_zlabel('Z Label')

plt.show()

In [221]:
if not os.path.exists("data/processed_data/TrainoCaso1/Acquisizione_1"):
    os.mkdir("data/processed_data/TrainoCaso1/Acquisizione_1")

anagrafica_df.to_csv('data/processed_data/TrainoCaso1/Acquisizione_1/anagrafica.csv', sep=',', encoding='utf-8')
time_series_df.to_csv('data/processed_data/TrainoCaso1/Acquisizione_1/time_series.csv', sep=',', encoding='utf-8')
new_df.to_csv('data/processed_data/TrainoCaso1/Acquisizione_1/new_df.csv', sep=',', encoding='utf-8')